{% extends "base.html" %}
{% block title %}Dymm - Estimate life span{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="wrap-box">
        <div class="box" id="bx-home-first" style="display: none;">
            {% include 'home/bx_home_first.html' %}
        </div>
        <div class="box" id="bx-home-second" style="display: none;">
            {% include 'home/bx_home_second.html' %}
        </div>
        <div class="box" id="bx-home-third" style="display: none;">
            {% include 'home/bx_home_third.html' %}
        </div>
    </section>
{% endblock %}
