<div class="inner-bx">
    <div class="home-intro">
        <div class="title">
            Stop wasting your life<br/>
            Our life span clock never stop⏳
        </div>
        <br/>
        <div class="subtitle">
            A genuine app engine will estimate Your remaining life span<br/>
            Concentrate your current life<br/>
            Regain your vitality<br/>
            Eventually You will lengthen your life span
        </div>
        <br/>
        <div class="wrap-bt">
            <div class="bt bt-appstore"><img class="img-bt" src="{{ url_for('static', filename='img/img-app-store.png') }}"></div>
        </div>
    </div>
    <div class="wrap-img">
        <img id="img-screen-1" src="{{ url_for('static', filename='img/img-screen-1@2x.png') }}"
                                  width="260px" height="411px" style="display: none;">
        <img id="img-screen-2" src="{{ url_for('static', filename='img/img-screen-2@2x.png') }}"
                                  width="260px" height="411px" style="display: none;">
        <img id="img-screen-3" src="{{ url_for('static', filename='img/img-screen-3@2x.png') }}"
                                  width="260px" height="411px" style="display: none;">
    </div>
</div>
