<div class="inner-bx">
    <div class="home-intro">
        <div class="title">
            The best app for motivation
        </div>
        <br/>
        <div class="subtitle">
            A app engine will estimate Your remaining lifespan<br/>
            Concentrate your current life<br/>
            Regain your vitality<br/>
            Life is most precious gift
        </div>
        <ul class="wrap-bt">
            <li class="bt bt-appstore">App store</li>
            <li class="bt bt-googleplay">Google play</li>
        </ul>
    </div>
    <ul class="wrap-img">
        <li><img class="logo" src="{{ url_for('static', filename='img/img-main-ssg.png') }}" width="448px"
                 height="609px">
        </li>
        <li class="main-img"><img class="logo" src="{{ url_for('static', filename='img/img-main-gojek.png') }}"
                                  width="215px" height="401px"></li>
        <li class="main-img"><img class="logo" src="{{ url_for('static', filename='img/img-main-gojek.png') }}"
                                  width="215px" height="401px"></li>
    </ul>
</div>
