<div class="inner-bx">
    <div class="home-intro">
        <div class="title">
            The best app for motivation
        </div>
        <br/>
        <div class="subtitle">
            A app engine will estimate Your remaining lifespan<br/>
            Concentrate your current life<br/>
            Regain your vitality<br/>
            Life is most precious gift
        </div>
        <br/>
        <div class="wrap-bt">
            <div class="bt bt-appstore"><img class="img-bt" src="{{ url_for('static', filename='img/img-app-store.png') }}"></div>
        </div>
        <br/>
    </div>
    <div class="wrap-img">
        <img class="logo" src="{{ url_for('static', filename='img/img-screen-1@2x.png') }}"
                                  width="219px" height="456px">
        <img class="logo" src="{{ url_for('static', filename='img/img-screen-2@2x.png') }}"
                                  width="219px" height="456px">
    </div>
</div>
