{% extends "layout.html" %}
{% block title %}Dymm - Lifespan Tracker{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% block nav_bar %}
    {% include 'nav_bar.html' %}
{% endblock %}
{% block content %}
    <header id="section-a">
        {% include 'section_a.html' %}
    </header>
    <section id="section-b">
        {% include 'section_b.html' %}
    </section>
    <section id="section-c">
        {% include 'section_c.html' %}
    </section>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
