<!doctype html>
<html>
<head>
    {% block head %}
        <meta name="google-site-verification" content="8mmvAB2VmS3kGyVD8CzIngKp9n49S9JlfB8mq_xHbgk"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/owl.theme.default.min.css') }}">

        <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js.cookie.min.js') }}"></script>
        <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='moment-timezone-with-data.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.countdown.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.form.min.js') }}"></script>
        <script src="{{ url_for('static', filename='owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="open">
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<div id="content">
    {% block nav_bar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
</html>