{% extends "base.html" %}
{% block title %}Dymm - Lifespan Tracker{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block nav_bar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
    <div id="btn-top" title="Go to top">Top</div>
    <header class="section-a">
        {% include 'section_a.html' %}
    </header>
    <section class="section-b on">
        {% include 'section_b.html' %}
    </section>
    <section class="section-c on">
        {% include 'section_c.html' %}
    </section>
    <section class="section-d on">
        {% include 'section_d.html' %}
    </section>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
