<ul id="nav-bar">
{#    <li><img class="logo" src="{{ url_for('static', filename='img/logo_web.png') }}"></li>#}
    <li><a href="" data-path="home"><img class="logo" src="{{ url_for('static', filename='img/logo_web.png') }}"></a></li>
    <li><a href="" data-path="asset">Asset</a></li>
    <li><a href="" data-path="avatar">Avatar</a></li>
    <li><a href="" data-path="banner">Banner</a></li>
    <li><a href="" data-path="tag">Tag</a></li>
</ul>
{#<ul class="wrap-admin-bt">#}
{#    <li class="admin-bt bt-sign-out">Sign out</li>#}
{#    <li class="admin-name"></li>#}
{#    <li id="clock"></li>#}
{#    <li class="admin-bt bt-refresh">Refresh</li>#}
{#</ul>#}