<br/><br/>
<nav class="nav-bar">
    <div class="nav-logo">
        <a href="" data-path="">
            <img class="logo" src="{{ url_for('static', filename='img/main-logo@2x.png') }}" width="150px"
                 height="40px">
        </a>
    </div>
{#    <div class="nav-right">#}
{#        <div><a href="" data-path="tag">Contact</a></div>#}
{#        <div><a href="" data-path="tag">English</a></div>#}
{#    </div>#}
    <ul>
        <li>
            <a href="#">ABOUT</a>
        </li>
        <li id="nav-button-2">
            <a href="#">CONTACT</a>
        </li>
    </ul>
</nav>
<br/><br/><br/><br/><br/>