<br/><br/>
<nav class="nav-bar">
    <div class="nav-logo">
        <a href="" data-path="">
            <img class="logo" src="{{ url_for('static', filename='img/main-logo.png') }}" width="150px"
                 height="40px">
        </a>
    </div>
    <ul class="nav-ul">
        &nbsp;&nbsp;&nbsp;
        <li id="nav-btn-a">
            {{ txt.preview }}
        </li>&nbsp;&nbsp;
        <li id="nav-btn-b">
            {{ txt.contact }}
        </li>&nbsp;&nbsp;
        <li class="dropdown">
            {{ lang_txt }}
            <div class="dropdown-content">
                <div id="drop-a">English</div>
                <div id="drop-b">한글</div>
            </div>
        </li>
    </ul>
    <br/><br/><br/><br/><br/><br/><br/>
    {% include 'popup.html' %}
</nav>