<div id="overlay">
    <div id="popup">
        <div id="popup-close">X</div>
        <br/>
        <div id="popup-title">
            Contact Us
        </div>
        <br/><br/>
        <form>
            <label>
                <input name="name" type="text" class="feedback-input" placeholder="Name"/>
            </label>
            <label>
                <input name="email" type="text" class="feedback-input" placeholder="Email"/>
            </label>
            <label>
                <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
            </label>
            <input type="submit" value="Submit"/>
        </form>
        <br/>
    </div>
</div>