<div class="d-obj-3d-1">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="55px"
            height="64px">
</div>
<br/><br/>
<div class="d-title" data-aos="fade-in" data-aos-duration="1000">
    {{ txt.d_title | safe }}
</div><br/>
<div class="d-subtitle" data-aos="fade-in" data-aos-duration="1400">
    {{ txt.d_subtitle | safe }}
</div>
<br/><br/><br/>
<div class="owl-carousel owl-theme" data-aos="fade-up" data-aos-duration="1700">
    <div class="item">
        <a class="owl-video" href="https://youtu.be/rOV-_VsBRmA"></a>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview1.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview12.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview2.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview18.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview3.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview4.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview15.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview16.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview19.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview10.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview5.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview6.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview7.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview20.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview9.png') }}"
             width="290px"
             height="580px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview8.png') }}"
             width="290px"
             height="580px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview21.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview11.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview13.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview14.png') }}"
             width="256px"
             height="554px">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview17.png') }}"
             width="256px"
             height="554px">
    </div>
</div>

<br/><br/><br/><br/>