<div class="title-c" data-aos="fade-in" data-aos-duration="1000">
    Preview
</div><br/>
<div class="subtitle-c" data-aos="fade-in" data-aos-duration="1400">
    만족스런 경험을 위해 디자인된 단순한 유저 인터페이스와 감각적 디자인.
</div>
<br/><br/><br/><br/>
<div class="owl-carousel owl-theme" data-aos="fade-up" data-aos-duration="1700">
{#    <div class="item-video" data-merge="3"><a class="owl-video" href="https://youtu.be/h6Sh3Yv4Wf4"></a></div>#}
    <div class="item">
        <a class="owl-video" href="https://youtu.be/h6Sh3Yv4Wf4"></a>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview-2@2x.png') }}"
             width="290px"
             height="580px">
    </div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
</div>

<br/><br/><br/><br/>