<div class="c-obj-3d-1">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="27px"
            height="32px">
</div>
<div class="c-obj-3d-2">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="27px"
            height="32px">
</div>
<div class="c-obj-3d-3">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="55px"
            height="64px">
</div>
<div class="c-obj-3d-4">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="55px"
            height="64px">
</div>
<div class="c-obj-3d-5">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="200px"
            height="231px">
</div>
<div class="c-obj-3d-6">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="311px"
            height="360px">
</div>

<br><br><br><br>
<ul class="flex-container">
    <li class="flex-item"></li>
    <li class="flex-item"></li>
    <li class="flex-item"></li>
    <li class="flex-item">
        <br/><br/>
        <div class="c-title" data-aos="fade-in" data-aos-duration="1800">
            {{ txt.c_title | safe }}
        </div>
        <br/>
        <div class="c-subtitle" data-aos="fade-in" data-aos-duration="1800">
            {{ txt.c_subtitle | safe }}
        </div>
        <br/>
        <br/><br/>
    </li>
    <li class="flex-item">
        <img src="{{ url_for('static', filename='img/c-screen1.png') }}"
             width="426px"
             height="471px"
             data-aos="fade-in" data-aos-duration="1800"
        >
    </li>
    <li class="flex-item"></li>
    <li class="flex-item"></li>
    <li class="flex-item"></li>
    <li class="flex-item"></li>
</ul>
<br/><br/><br/><br/><br/><br/><br/>