<div class="b-obj-3d-1">
    <img
         src="{{ url_for('static', filename='img/obj-3d-sky.png') }}"
         width="101px"
         height="118px">
</div>
<div class="b-obj-3d-2">
    <img
         src="{{ url_for('static', filename='img/obj-3d-sky.png') }}"
         width="27px"
         height="32px">
</div>
<div class="b-obj-3d-3">
    <img
         src="{{ url_for('static', filename='img/obj-3d-sky.png') }}"
         width="159px"
         height="184px">
</div>
<div class="b-obj-3d-4">
    <img
         src="{{ url_for('static', filename='img/obj-3d-sky.png') }}"
         width="27px"
         height="32px">
</div>
<div class="b-obj-3d-5">
    <img
            src="{{ url_for('static', filename='img/obj-3d-sky.png') }}"
            width="55px"
            height="64px">
</div>
<div class="b-obj-3d-6">
    <img
            src="{{ url_for('static', filename='img/obj-3d-sky.png') }}"
            width="200px"
            height="231px">
</div>
<br/><br/><br/><br/>
<div id="title-b">
    How it works?
</div><br/><br/>
<img class="atom" src="{{ url_for('static', filename='img/b-hologram.png') }}"
     width="152px"
     height="186px" data-aos="fade-up" data-aos-duration="1000">
<br/><br/><br/><br/><br/><br/>
<div id="flex-container-b" data-aos="fade-in">
    <div class="box-1" data-aos="fade-up" data-aos-duration="1000">
        <div class="circle circle-a">
            <img class="circle-img-a" src="{{ url_for('static', filename='img/b-obj-drug.png') }}"
                 width="45px"
                 height="45px">
        </div>
        <div class="box-1-title">생활습관 최적화</div>
        <br/>
        <p>
            <b class="bold">음식, 활동, 제약 (영양제)</b> 기록을 통해 수명에 영향을 미치는 원인을 찾을 수 있습니다.
            <br/><b>질병 이력</b> 등록은 더욱 정확한 수명 예측을 가능케 합니다.
        </p>
    </div>
    <div class="box-2" data-aos="fade-up" data-aos-duration="1400">
        <div class="circle circle-b">
            <img class="circle-img" src="{{ url_for('static', filename='img/b-obj-3d.png') }}"
                 width="50px"
                 height="50px">
        </div>
        <div class="box-1-title">수명 예측</div>
        <br/>
        <p>
            <b>컨디션 점수</b>와 <b>질병 이력</b>을 통해 수명을 예측 합니다.<br/>
            <b>생활습관을 개선</b>하여 남은 수명을 연장 수 있습니다.
        </p>
    </div>
    <div class="box-3" data-aos="fade-up" data-aos-duration="1800">
        <div class="circle circle-c">
            <img class="circle-img" src="{{ url_for('static', filename='img/b-obj-smile.png') }}"
                 width="50px"
                 height="50px">
        </div>
        <div class="box-1-title">기분점수 추적</div>
        <br/>
        <p>
            감정과 기분은 신체건강에 큰 영향을 미치며,<br/>
            <b>신체건강</b>또한 <b>기분</b>에 의해 크게 달라질 수 있습니다.
        </p>
    </div>
</div>
<br/><br/>