<div class="d-obj-3d-1">
    <img
            src="{{ url_for('static', filename='img/obj-3d-purple.png') }}"
            width="55px"
            height="64px">
</div>
<br/><br/><br/><br/><br/><br/>
<div class="title-d" data-aos="fade-in" data-aos-duration="1000">
    Preview
</div><br/>
<div class="subtitle-d" data-aos="fade-in" data-aos-duration="1400">
    사용자의 경험을 고려한 감각적 디자인과 심플한 유저 인터페이스.
</div>
<br/><br/><br/><br/>
<div class="owl-carousel owl-theme" data-aos="fade-up" data-aos-duration="1700">
    <div class="item">
        <a class="owl-video" href="https://youtu.be/h6Sh3Yv4Wf4"></a>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/preview-2.png') }}"
             width="290px"
             height="580px">
    </div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
</div>

<br/><br/><br/><br/><br/><br/>
<br/><br/><br/>