<div class="element1"></div>
<div class="element2"></div>
<ul class="flex-container">
    <li class="flex-item">
        <div class="title-a">
            The best lifespan tracking app for<br/>
            extending your remaining life
        </div>
        <br/>
        <div class="subtitle-a">
            The app estimates your remaining life span.<br/>
            Our goal is to lengthen the user’s life span.
        </div>
        <br/><br/>
        <div class="wrap-bt">
            <img class="img-appstore"
                 src="{{ url_for('static', filename='img/img-app-store-white@2x.png') }}"
                 width="155px"
                 height="52px">
        </div>
        <br/><br/>
    </li>
    <li class="flex-item">
        <img class="img-screen" src="{{ url_for('static', filename='img/img-screen2@2x.png') }}"
             width="290px"
             height="580px">
    </li>
    <li class="flex-item"></li>
    <li class="flex-item"></li>
</ul>
<br/><br/><br/><br/><br/><br/><br/>