/*=============================================================================
Start base layout style
*/

/* Content
-----------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

b {
    color: mediumaquamarine;
    /*font-family: "HelveticaNeue-medium", "Helvetica Neue Medium", "Helvetica Neue",*/
    /*Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

div#content {
    font-family: 'Nanum Gothic', sans-serif;
}

#content {
    width: 100%;
    /*height: 100vh;*/
    color: mediumseagreen;
    position: absolute;
    overflow: hidden;
}

/* Section A
-----------------------------------------------------------------------------*/
.flex-container {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 0 0 10%;
    list-style-type: none;
}

.title-a {
    text-align: left;
    font-size: 300%;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;

    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
}

.subtitle-a {
    text-align: left;
    font-size: 100%;

    opacity: 0;
    /*font-weight: 400;*/
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.img-appstore {
    opacity: 0;
    cursor: pointer;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 3s;
}

.img-appstore:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px #DDECEE;
}

.img-screen {
    opacity: 0;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 3.5s;
}

.element1 {
    opacity: 0;
    position: absolute;
    top: 25%;
    right: -50px;
    width: 250px;
    height: 250px;
    border: 10px solid mediumseagreen;
    animation: rotate 40s linear infinite, fadeIn 1s linear forwards;
    animation-delay: 4s;
}

.element2 {
    opacity: 0;
    position: absolute;
    left: -10px;
    top: 20%;
    width: 50px;
    height: 50px;
    border: 2px solid mediumseagreen;
    animation: rotate 30s linear infinite, fadeIn 1s linear forwards;
    animation-delay: 4s;
}

/* Section B
-----------------------------------------------------------------------------*/
#section-b {
    padding: 20px;
    color: black;
    text-align: center;
}

.title-b {
    font-size: 30pt;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;

    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
}

.subtitle-b {
    font-size: 12pt;
    color: lightgray;
}

#flex-container-b {
    display: flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    padding: 0 20px 0 20px;
}

#flex-container-b > div {
    width: 170px;
    height: 150px;
    /*border: 1px solid mediumseagreen;*/
    color: darkgray;
    margin: 0 20px 100px 20px;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 3px 10px 3px #eeeeee;
    font-size: 13px;
}

.circle {
    margin: auto;
    margin-top: -70px;
    margin-bottom: 20px;

    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 3px 10px 3px #eeeeee;
}

.box-1-title {
    font-size: 14px;
    color: black;
}

/* Section C
-----------------------------------------------------------------------------*/
#section-c {
    padding: 20px;
    text-align: center;
}

.title-c {
    color: mediumseagreen;
    font-size: 30pt;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.subtitle-c {
    font-size: 12pt;
    color: mediumaquamarine;
}

.item {
    width: 290px;
    height: 500px;
    background-color: #A5D6D9;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    background-color: dimgray;
    min-height: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #eeeeee;
}

p#txt-footer {
    text-align: center;
    padding-top: 40px;
    font-size: 12px;
    /*padding-bottom: 30px;*/
}

/* Navigation bar
-----------------------------------------------------------------------------*/
.nav-logo {
    float: left;
    margin: 0 0 0 10%;

    opacity: 0;
    padding: 0;
    font-size: 2em;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 0.5s;
}

.nav-bar ul li:nth-child(1),
.sci li:nth-child(1) {
    animation-delay: 1s;
}

.nav-bar ul li:nth-child(2),
.sci li:nth-child(2) {
    animation-delay: 1.25s;
}

.nav-bar ul {
    padding: 0;
    z-index: 100;
    display: flex;
    float: right;
    line-height: 45px;
    margin: 0 25% 0 0;
    font-family: "HelveticaNeue-medium", "Helvetica Neue Medium", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.nav-bar ul li {
    opacity: 0;
    list-style: none;
    margin: 0 10px;
    animation: fadeInRight 0.5s linear forwards;
}

.nav-bar ul li:last-child {
    margin-right: 0;
}

.nav-bar ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: mediumseagreen;
    padding: 5px 10px;
    /*letter-spacing: 2px;*/
}

.nav-bar ul li a:hover {
    /*background: white;*/
    color: darkslategray;
    transition: 0.6s;
}


/* Common helpers
-----------------------------------------------------------------------------*/
::-moz-selection {
    background-color: sandybrown;
    color: #fff;
}

::selection {
    background-color: sandybrown;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes revealText {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes revealTextReverse {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/*
End Base layout style
=============================================================================*/